
<div id="descripcionJuego">
    
    <div>
        <div>
            <h3>Nombre del alumno: </h3>
            <h5>De la Cuadra, Marcos</h5>

        </div>
        <div>
            <img src="" alt="">
        </div>
    </div>
    <br>

    <h3>Descripcion del juego 'Punteria':</h3>     
    <p>
        Este juego esta diseñado para que mejores tu agilidad y velocidad con el puntero del mouse.
    </p>       
    <p>
        El objetivo principal para poder ganar es hacer click sobre todos los circulos que aparecen dentro del area marcada,
    </p>
    <p>
        Dependiendo de la dificultad, los circulos desapareceran en un determinado tiempo si no logras hacer click.
    </p>
    <p>
        Para ganar el juego debes hacer 5 aciertos de 5 intentos totales (100% de aciertos)
    </p>

    <br>

    <h3>Dificultades:</h3>      
    <h6>Facil:</h6>
    <p>
        Los objetivos a clickear son grandes y tardan 5 segundos en desaparecer
    </p>
    <h6>Medio:</h6>
    <p>
        Los objetivos a clickear son medianos y tardan 3 segundos en desaparecer
    </p>
    <h6>Dificil:</h6>
    <p>
        Los objetivos a clickear son pequeños y tarda 1 segundo en desaparecer
    </p>
</div>