<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <div style="display: grid;">
          <span class="fs-4">Sala de Juegos</span>
          
          <span *ngIf="usuario">Usuario: {{usuario}}</span>

        </div>
      </a>

      <ul class="nav nav-pills">
        
        <li class="nav-item">
            <a (click)="BtnNavsetClicked('quienSoy','bienvenido')" [ngClass]="btnHeader.quienSoy ? 'nav-link active' :  'nav-link'" aria-current="page">Quien soy?</a>
        </li>
        <li class="nav-item">
            <a (click)="BtnNavsetClicked('btnJuego1','bienvenido')" [ngClass]="btnHeader.btnJuego1 ? 'nav-link active' :  'nav-link'" aria-current="page">Mayor o Menor</a>
        </li>
        <li class="nav-item">
            <a (click)="BtnNavsetClicked('btnJuego2','login')" [ngClass]="btnHeader.btnJuego2 ? 'nav-link active' :  'nav-link'">Ahorcado</a>
        </li>
        <li class="nav-item">
            <a (click)="BtnNavsetClicked('btnJuego3','login')" [ngClass]="btnHeader.btnJuego3 ? 'nav-link active' :  'nav-link'">Preguntados</a>
        </li>
        <li class="nav-item" style="margin-left: 10px;">
           
            <button (click)="CerrarSesion()" type="button" class="btn btn-outline-danger">Cerrar Sesion</button>
        </li>
        
     <!--

     <li class="nav-item">
            <a (click)="BtnNavsetClicked('btnContacto','inicio')"[ngClass]="btnHeader.btnContacto ? 'nav-link active' :  'nav-link'">Inicio</a>
        </li> -->  
      </ul>
    </header>
    <div>

      <div>
  
        <div *ngIf="btnHeader.quienSoy">
          <app-quien-soy></app-quien-soy>
    
        </div>
        <div *ngIf="btnHeader.btnJuego1">
    
          <app-mayor-o-menor></app-mayor-o-menor>
        </div>
        <div *ngIf="btnHeader.btnJuego2">
    
         <app-ahorcado></app-ahorcado>
        </div>
        <div *ngIf="btnHeader.btnJuego3">
    
          <app-preguntados></app-preguntados>
        </div>
      </div>
  
      <div id="chat">
        <br>
        <h1>Chat Alumnos:</h1>
        <app-chat></app-chat>
      </div>
    </div>

  </div>