
<div class="container">

    <div class=" order-md-1">
        <div id="msjChat">
            <div *ngIf="msjs.length > 0">
                <ul class="list-group mb-3">
                    <li *ngFor="let item of msjs" class="list-group-item d-flex justify-content-between lh-condensed">
                      <div style="display: grid;">

                        <div style="float: right;">
                          <h6 class="my-0">{{item.user}}</h6>                          
                        </div>
                        <div >  
                          <span class="text-muted">{{item.msj}}</span>
                        </div>
                      </div>
                    </li>
                    
                  </ul>
                
            </div>
        </div>
        <form class="needs-validation" novalidate="">
          <div class="row">
            <div class=" mb-3">
              <label for="firstName">Nuevo mensaje</label>
              <input type="text" maxlength="25" [(ngModel)]="msjNuevo" class="form-control" id="msjNuevo" name="msjNuevo" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>            
          </div>
          
          <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="NuevoMsj()">Enviar msj</button>
        </form>
      </div>
</div>